In [10]:
import pandas as pd
df = pd.read_csv('expected_data.txt', sep='\t')
df.shape

c:\program files (x86)\microsoft visual studio\shared\python37_64\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,4,9,11,12,13,14,15,16,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,WellID,rowcol,Plate,Row,Column,siRNA.ID,Gene,Type,Features,Raw_value,Well_Type,RowId,hc_User pre-processing exclusion tag,hc_User exclusion tag,CE_GESD Outliers,hc_GESD exclusion tag,hc_Final exclusion tag,IRLS,Norm_value,Operations
0,String,String,Integer,String,Integer,String,String,String,String,Real,String,Integer,String,String,Boolean,String,String,String,Real,Integer
1,1 A 1,A 1,1,A,1,Control,CONTROL,NegCtrl1,Parameter1,1253,Negative,1,NaN,NaN,False,NaN,NaN,NaN,-0.177569496284672,1
2,1 A 1,A 1,1,A,1,Control,CONTROL,NegCtrl1,Parameter2,544.0231,Negative,2,NaN,NaN,False,NaN,NaN,NaN,-0.195171689891067,2
3,1 A 1,A 1,1,A,1,Control,CONTROL,NegCtrl1,Parameter3,1621.362,Negative,3,NaN,NaN,False,NaN,NaN,NaN,-0.168423952556465,3
4,1 A 1,A 1,1,A,1,Control,CONTROL,NegCtrl1,Parameter4,2.982415,Negative,4,NaN,NaN,False,NaN,NaN,NaN,-0.208604430628186,4

In [ ]:
df.head()

In [5]:
new_df = df[['WellID', 'Type', 'Features', 'Raw_value', 'Well_Type', 'Norm_value']]
new_df.shape

(3455869, 6)

In [6]:
new_df.head()

   WellID      Type    Features Raw_value Well_Type          Norm_value
0  String    String      String      Real    String                Real
1   1 A 1  NegCtrl1  Parameter1      1253  Negative  -0.177569496284672
2   1 A 1  NegCtrl1  Parameter2  544.0231  Negative  -0.195171689891067
3   1 A 1  NegCtrl1  Parameter3  1621.362  Negative  -0.168423952556465
4   1 A 1  NegCtrl1  Parameter4  2.982415  Negative  -0.208604430628186

In [9]:
new_df.to_csv(r'exported.txt', index=None, sep='\t', mode='a')